<% if @paths.nil? %>
  <h1>There are currently no paths to display!</h1>
<% else %>
  <% @paths.each do |path| %>
    <div class="path">
      <ul>
        <li><a href="paths/<%= path.id %>"><%= path.title %></a></li>
        <li><%= path.description %></li>
      </ul>
    </div>
  <% end %>
  <% if @path.nil? %>
  <%= link_to "New", new_path_path %>
   <% else%>
    <%= render "form", :locals => {path: @path} %>
  <% end %>
<% end %>

