<h1><%= @path.title %></h1>
<h3><%= @path.description %></h3>

<p>Created by: <%= @path.user.first_name %></p>

<% if current_user && current_user[:id] == @path.user_id %>
  <button><%= link_to "delete", path_path(@path), :method => :delete %></button>
<% end %>

<button><%= link_to "back", paths_path %></button>

<h3>Steps:</h3>
<% @path.steps.each do |step|%>
  <p><%= step.body %></p>
<% end %>

<h3>Comments:</h3>
<% @path.comments.each do |comment|%>
  <%= link_to comment.body, polymorphic_path([@path, comment]) %><br>
<% end %>
