<div class="path-container">
  <h1 class="path-header"><%= @path.title %></h1>
  <h3><%= @path.description %></h3>

  <p>Created by: <%= @path.user.first_name %></p>
  <p>Votes: <span id="vote-count"><%= @votes_count %></span></p>
  <% if user_signed_in? %>
    <button class="vote styled-button" data-vote-state=true data-voteable-id=<%= @path.id %> data-voteable-type="Path" >Upvote!</button>
    <button class="vote styled-button" data-vote-state=false data-voteable-id=<%= @path.id %> data-voteable-type="Path" >Downvote!</button>
  <% end %>

  <% if check_user_id(@path) %>
    <button class="styled-button"><%= link_to "Delete Path", path_path(@path), :method => :delete %></button>
    <button class="styled-button"><%= link_to "Edit Path", edit_path_path(@path) %></button>
  <% end %>

  <button class="styled-button"><%= link_to "Back", paths_path %></button>

  <h3>Steps</h3>
  <br>
   <% if check_user_id(@path) %>
    <button class="styled-button"><%= link_to "New Step", new_path_step_path(@path) %></button>
   <% end %>
  <% @path.steps.order(:position).each do |step| %>
    <p><span class="step-body"><%= step.position %>.  <%= step.body %></span ></p>
    <p><a class="asset-link" href="<%= step.asset.url %>" target="_blank"><%= step.asset.title %></a></p>
    <p class="asset-description"><%= step.asset.description %></p>
    <% if check_user_id(step.path) %>
      <button class="styled-button"><%= link_to "Delete Step", polymorphic_path([@path, step]), :method => :delete %></button>
      <button class="styled-button"><%= link_to "Edit Step", polymorphic_path([:edit, @path, step]) %></button>
    <% end %>
  <% end %>

  <h3>Comments</h3>
  <hr>
   <% if user_signed_in? %>
    <button class="styled-button" id="new-comment-button"><%= link_to "New Comment", polymorphic_path([@path, Comment]) %></button>
   <% end %>
  <% @path.comments.each do |comment|%>
    <p><%= comment.created_at.strftime('%a %d %b %Y %I:%M %p') %> By: <%= comment.user.first_name %></p>
    <p><%= link_to comment.body, polymorphic_path([@path, comment]) %></p>
  <% end %>
</div>
