<div class="path-container">
  <h1 class="path-header"><%= @path.title %></h1>
  <h3><%= @path.description %></h3>

  <p>Created by: <%= @path.user.first_name %></p>

  <% if current_user && current_user[:id] == @path.user_id %>
    <button class="styled-button"><%= link_to "Delete Path", path_path(@path), :method => :delete %></button>
    <button class="styled-button"><%= link_to "Edit Path", edit_path_path(@path) %></button>
  <% end %>


  <button class="styled-button"><%= link_to "Back", paths_path %></button>

  <h3>Steps:</h3>
  <% @path.steps.order(:position).each do |step|%>
    <p><span><%= step.position %>: </span><%= step.body %></p>
    <p>Link: <a href="<%= step.asset.url %>"><%= step.asset.title %></a></p>
    <p><%= step.asset.description %></p>
  <% end %>

  <button class="styled-button"><%= link_to "New Step", new_path_step_path(@path) %></button>

  <h3>Comments:</h3>
  <% @path.comments.each do |comment|%>
    <p><%= link_to comment.body, polymorphic_path([@path, comment]) %></p>
  <% end %>
  <button class="styled-button"><%= link_to "New Comment", polymorphic_path([@path, Comment]) %></button>
</div>
