<div class="user-container">
  <h1 class="user-header">Welcome <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
  <div class="user-paths">
    <% if @user.paths.nil? %>
      <h1>There are currently no paths to display!</h1>
    <% else %>
      <% if current_user %>
        <button class="styled-button pad-edge new-path-button"><%= link_to "Create New Path", new_path_path %></button>
      <% else %>
        <p class="notice">You must sign in to create a path</p>
      <% end %>
      <% @user.paths.each do |path| %>
        <ul class="path-list user-path-list">
          <div class="path-item">
            <li class="path-title"><%= link_to path.title, path_path(path) %></li>
            <li class="path-author">Created by: <%= path.user.first_name %></li>
            <li class="path-description"><%= path.description %></li>
            <% if current_user && current_user.id == path.user_id %>
            <li><button class="styled-button"><%= link_to "Edit", path_path(path) %></button></li>
            <% end %>
          </div>
        </ul>
      <% end %>
    <% end %>
  </div>

  <div class="user-assets">
 <div id="assets-partial">
      <%= render 'assets/new', layout: false, locals: {asset: @new_asset} %>
    </div>
    <button class="styled-button create-assets-button">Create Asset</button>
    <% if @user.assets.empty? %>
      <h3>There are currently no assets to display!</h3>
    <% else %>
      <div id="asset-list">
        <% @user.assets.each do |asset| %>
          <div class="asset user-asset-list">
            <h3><%= asset.title %></h3>
              <button class="styled-button"><%= link_to "Details", asset_path(asset) %></button>
              <button class="styled-button"><a href="<%= asset.url %>">View Asset</a></button>
            <p>Description: <%= asset.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
