<button><%= link_to "Create Asset", new_asset_path %></button>
<% if @assets.empty? %>
  <h3>There are currently no assets to display!</h3>
<% else %>
  <% @assets.each do |asset| %>
    <div class="asset">
      <h3><%= asset.title %></h3>
      <p>
        <%= link_to "Details", asset_path(asset) %>
        <a href="<%= asset.url %>">View Asset</a>
      </p>
      <p><%= asset.description %></p>
    </div>
  <% end %>
<% end %>
