<div class="login">
  <h2 class="path-header">New Asset</h2>
  <%= form_for @asset, class: 'new-asset' do |f| %>
    <%= f.label :title %><br />
    <div><%= f.text_field :title %></div>
    <%= f.label :description %><br />
    <div><%= f.text_area :description %></div>
    <%= f.label :url %><br />
    <div><%= f.url_field :url %></div>
    <%= f.submit :class => "styled-button" %>
  <% end %>
</div>

