<div class="login">
  <h1 class="path-header"><%= @asset.title %></h1>
  <p class="asset-description"><%= @asset.description %></p>
  <p class="asset-link"><%= link_to @asset.url, @asset.url %></p>
  <% if check_user_id(@asset) %>
    <button class="styled-button"><%= link_to "Edit", edit_asset_path(@asset) %></button>
    <button class="styled-button"><%= link_to "Delete", asset_path(@asset), :method => :delete %></button>
  <% end %>
  <p>Votes: <span id="vote-count"><%= @votes_count %></span></p>
  <% if user_signed_in? %>
    <button class="vote styled-button" data-vote-state=true data-voteable-id=<%= @asset.id %> data-voteable-type="Asset" >Upvote!</button>
    <button class="vote styled-button" data-vote-state=false data-voteable-id=<%= @asset.id %> data-voteable-type="Asset" >Downvote!</button>
  <% end %>
  <h3>Comments:</h3>
    <% if user_signed_in? %>
    <button class="styled-button" id="new-comment-button"><%= link_to "New Comment", polymorphic_path([@asset, Comment]) %></button>
   <% end %>
  <% @asset.comments.each do |comment|%>
    <p><%= comment.created_at.strftime('%a %d %b %Y %I:%M %p') %> By: <%= comment.user.first_name %></p>
    <p><%= link_to comment.body, polymorphic_path([@asset, comment]) %><br>
  <% end %>
</div>

