<div class="login">
  <h1 class="path-header"><%= @asset.title %></h1>
  <p class="asset-description"><%= @asset.description %></p>
  <p class="asset-link"><%= link_to @asset.url, @asset.url %></p>
  <% if current_user[:id] == @asset.user_id %>
    <button class="styled-button"><%= link_to "Edit", edit_asset_path(@asset) %></button>
    <button class="styled-button"><%= link_to "Delete", asset_path(@asset), :method => :delete %></button>
  <% end %>
  <p>Votes: <span id="vote-count"><%= @votes_count %></span></p>
  <% if user_signed_in? %>
    <button class="vote styled-button" data-vote-state=true data-voteable-id=<%= @asset.id %> data-voteable-type="Asset" >Upvote!</button>
    <button class="vote styled-button" data-vote-state=false data-voteable-id=<%= @asset.id %> data-voteable-type="Asset" >Downvote!</button>
  <% end %>
  <h3>Comments:</h3>
  <% @asset.comments.each do |comment|%>
    <%= link_to comment.body, polymorphic_path([@asset, comment]) %><br>
  <% end %>
</div>

