<div class="login">
  <h2 class="path-header">New Step</h2>
  <% if @assets.empty? %>
    <h3>You have no assets</h3>
    <p>
      Assets are required to create steps for paths and you have yet to create any.  Please follow the link below and create some before continuing.
    </p>
    <button class="styled-button"><%= link_to "Assets", assets_path %></button>
  <% else %>
    <%= form_for [@path, @step] do |f| %>
      <%= f.label :step %><br />
      <%= f.text_area :body, :class => "description-field" %><br />
      <%= label_tag 'Select Asset' %><br />
      <%= select("asset", "asset_id", @assets.collect {|a| [ a.title, a.id ] } ) %>
      <%= f.submit :class => "styled-button" %>
    <% end %>
    <button class="styled-button create-assets-button">Create Assets</button>
    <div id="assets-partial">
      <%= render 'assets/new', layout: false, locals: {asset: @new_asset} %>
    </div>
  <% end %>
</div>
